@media (max-width:499px) {
        .sidebar {
            display: none;
        }
            .main-content {
                margin-left: 0 !important;
                width: 100% !important;
                padding-left: 0 !important;
            }
}

@media (max-width:1200px) {
    .sidebar-link img {
        height: 24px;
        margin-bottom: 4px;
    }

    .sidebar-link div {
        font-size: 10px;
    }

    .sidebar {
        position: fixed;
        left: 0;
        bottom: 0;
        top: 55px;
        background-color: white;
        width: 74px;
        z-index: 200;
        padding-top: 10px;
    }

    .sidebar-link {
        height: 74px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .sidebar-link:hover {
        background-color: rgb(235, 235, 235);
    }
}

@media (min-width:1200.1px) {
    .sidebar-link img {
        height: 30px;
        margin-bottom: 4px;
        margin-left: 13px;
    }

    .sidebar-link div {
        font-size: 15px;
        margin-left: 20px;
    }

    .sidebar-link:hover {
        background-color: rgb(235, 235, 235);
        border-radius: 8px;
    }

    .sidebar {
        position: fixed;
        left: 0;
        bottom: 0;
        top: 55px;
        background-color: white;
        width: 200px;
        z-index: 200;
        padding-top: 5px;
        margin-right: 24px;
    }

    .sidebar-link {
        height: 51px;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        cursor: pointer;
        margin-left: 10px;
    }
}