@media (max-width:1200px) {
    .sidebar {
        position: fixed;
        left: 0;
        bottom: 0;
        top: 55px;
        background-color: white;
        width: 74px;
        z-index: 200;
        padding-top: 10px;
    }

    .sidebar-link {
        height: 74px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }


    .sidebar-link img {
        height: 24px;
        margin-bottom: 4px;
    }

    .sidebar-link div {
        font-size: 10px;
    }
}

@media (min-width:1200.1px) {
    .sidebar {
        position: fixed;
        left: 0;
        bottom: 0;
        top: 55px;
        background-color: white;
        width: 200px;
        z-index: 200;
        padding-top: 5px;
    }

    .sidebar-link {
        height: 51px;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        cursor: pointer;
        margin-left: 10px;
    }

    .sidebar-link img {
        height: 30px;
        margin: 0 13px 4px 13px;
    }

    .sidebar-link div {
        font-size: 15px;
        margin-left: 20px;
    }
}

@media (max-width:500px) {
    .sidebar {
        display: none;
    }

    body {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Sidebar hover effects for dark and light mode */
@media (prefers-color-scheme: dark) {
    .sidebar-link:hover {
        background-color: #222 !important;
        color: #fff !important;
        border-radius: 8px;
    }
}

@media (prefers-color-scheme: light) {
    .sidebar-link:hover {
        background-color: #e3e3e3 !important;
        color: #111 !important;
        border-radius: 8px;
    }
}